

.welcome_station{
    padding-top: 90px;
    padding-bottom: 90px; 
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}
.station__photo{
    width: 272px;
    height: 84px;
        
}
.station__title{
    font-size: var(--h2-font-size-mobile);
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 15px;
}
.station__text__about{
    font-family: var(--font-description);
    font-size: var(--main-text-size);
    color: #717888;
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28.8px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: baseline;
    margin-top: 45px;
    
    
   
}
.social-networks{
padding-top: 31px;
padding-bottom: 27px;
text-align: center;
margin-top: 30px;
}

    
