.blog-info {
    width: 272px;
    height: 100%;
    border-radius: 14px;
    display: flex;
}

.blog {
    background: url(../img/main__blog/backgroungofblog.png);
    background-attachment: fixed;
    background-size: cover;
    padding: 85px 24px 90px;
    background-size: cover;
}

.blog__title {
    text-align: center;
    padding: 0px 0px 35px;
    font-size: 34px;
}

.blog-coworking__topic {
    font-family: var(--font-title);
    padding: 0px 0px 20px;
    line-height: 31.999px;
    font-size: 22px;
}

.blog-coworking__text {
    text-align: left;
    margin: 50px 0px 0px;
}

.blog-coworking__photo {
    object-fit: cover;
    height: 136.438px;
}

.blog-coworking__text-info {
    font-family: var(--font-title);
    color: var(--dark-accent-color);
    line-height: 19.6px;
    font-size: 14px;
}

.blog-coworking__text-content {
    font-family: var(--font-description);
    color: var(--contacts-form-text-color);
    padding: 20px 0px 30px;
    line-height: 28.8px;
}

.blog-coworking__link {
    font-family: var(--font-title);
    color: var(--main-blog-color-link);
    text-decoration: none;
    line-height: 17.28px;
    font-size: 10.8px;
}

.blog-freshfood__topic {
    font-family: var(--font-title);
    padding: 0px 0px 20px;
    line-height: 31.999px;
    font-size: 22px;
}

.blog-freshfood__photo {
    margin: 50px 0px 50px;
}

.blog-freshfood__photo {
    object-fit: cover;
    height: 136.438px;
}

.blog-freshfood__text-info {
    font-family: var(--font-title);
    color: var(--dark-accent-color);
    line-height: 19.6px;
    font-size: 14px;
}

.blog-freshfood__text-content {
    font-family: var(--font-description);
    color: var(--contacts-form-text-color);
    padding: 20px 0px 30px;
    line-height: 28.8px;
}

.blog-freshfood__link {
    font-family: var(--font-title);
    color: var(--main-blog-color-link);
    text-decoration: none;
    line-height: 17.28px;
    font-size: 10.8px;
}

.blog-coworking-space__topic {
    font-family: var(--font-title);
    padding: 0px 0px 20px;
    line-height: 31.999px;
    font-size: 22px;
}

.blog-coworking-space__photo {
    object-fit: cover;
    height: 136.438px;
    margin: 50px 0px 50px;
}

.blog-coworking-space__text-info {
    font-family: var(--font-title);
    color: var(--dark-accent-color);
    line-height: 19.6px;
    font-size: 14px;
}

.blog-coworking-space__text-content {
    font-family: var(--font-description);
    color: var(--contacts-form-text-color);
    padding: 20px 0px 30px;
    line-height: 28.8px;
}

.blog-coworking-space__link {
    font-family: var(--font-title);
    color: var(--main-blog-color-link);
    text-decoration: none;
    line-height: 17.28px;
    font-size: 10.8px;
}

.blog-button {
    padding: 45px 0px 0px;
    text-align: center;
}

.blog-button__text {
    font-family: var(--font-title);
    font-size: 12px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 30px;
    padding: 14px 30px;
    color: var(--secondary-color);
}

.blog-button__text:hover {
    background-color: var(--dark-accent-color);
}

@media (min-width: 768px) {

}