.blog-info {
    width: 347px;
}

.blog {
    background: url(../img/main__blog/backgroungofblog.png);
    background-attachment: fixed;
    background-size: cover;
}

.blog-coworking__topic {
    font-family: var(--font-title);
}

.blog-coworking__text-info {
    font-family: var(--font-title);
    color: var(--footer-form-btn-bg-color);
}

.blog-coworking__text-content {
    color: var(--footer-contacts-form-text-color);
}

.blog-coworking__link {
    font-family: var(--font-title);

}

.blog-freshfood__topic {
    font-family: var(--font-title);
}

.blog-freshfood__text-info {
    font-family: var(--font-title);
    color: var(--footer-form-btn-bg-color);
}

.blog-freshfood__text-content {
    color: var(--footer-contacts-form-text-color);
}

.blog-freshfood__link {
    font-family: var(--font-title);
}

.blog-coworking-space__topic {
    font-family: var(--font-title);
}

.blog-coworking-space__text-info {
    font-family: var(--font-title);
    color: var(--footer-form-btn-bg-color);
}

.blog-coworking-space__text-content {
    color: var(--footer-contacts-form-text-color);    
}

.blog-coworking-space__link {
    font-family: var(--font-title);
}