@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --font-title: 'Montserrat', sans-serif;
    --font-description: 'Varela', sans-serif;
    --divider-bg-main-color: #FF5D4A;
    --divider-bg-secondary-color: #FFF;
    --footer-text-color: white;
    --footer-contacts-form-text-color: rgb(113, 120, 136);
    --footer-under-line-bg-color: white;
    --footer-form-title-color: black;
    --footer-form-btn-bg-color: rgb(86, 108, 213);
    --footer-form-btn-bg-color-hover: black;
    --footer-form-bg-color: white;
    --footer-contacts-header-font-size: 2.2rem;
    --footer-contacts-header-font-size-full-screen: 2.8rem;
    --footer-contacts-title-font-size: 1.4rem;
    --footer-contacts-font-size: 1rem;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-family: var(--font-title);
    font-size: var(--footer-contacts-header-font-size);
}

.divider {
    display: inline-block;
    width: 60px;
    height: 4px;
}

.divider--main {
   background-color:  var(--divider-bg-main-color);
}

.divider--secondary {
    background-color:  var(--divider-bg-secondary-color);
}