@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Varela&display=swap');
@import url('cooperation.css');
/* Replace to index.css pls */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-title: 'Montserrat', sans-serif;
    --font-common: 'Varela', sans-serif;
    /* --font-discription */
    --common-font-size: 1rem;
    --h2-font-size-mobile: 2.2rem;
    --h2-font-size-tablet: 2.4rem;
    --h2-font-size-desktop: 2.8rem;
    --h3-font-size: 1.37rem;
    --h4-font-size: 0.875rem;
    --accent-color: #FF5D4A;
    --main-color: #000;
    --main-blog-color-link: rgb(181, 181, 181);
    --whychooseus-color-main: rgb(85, 108, 213);
    /* why main */
    --secondary-color: #fff;
    --dark-accent-color: #556cd5;
    --link-hover-color: #2c7591;
    --title-color: #292d3a;
    /* NEED TO CHANGE --text-color */
    --text-color: rgb(114, 120, 136);
    /* NEED TO CHANGE --contacts-form-text-color: #717888; */
    --footer-color: #1c1f29;
    --box-shadow-color: 0 5px 11.2px 2.8px rgb(136 140 133 / 12%);
    --contacts-filds-color: rgba(28, 31, 41, 0.12);
    --header-gradient: radial-gradient(rgba(85, 83, 112, 0.402), rgba(0, 0, 0, 0.58));
    --whychooseus-gradient: linear-gradient(to bottom, rgba(91, 114, 211, 0.6), rgb(91, 114, 211, 1));
    --footer-gradient: linear-gradient(to bottom, rgba(37, 40, 47, 0.6), rgba(28, 31, 41, 1) 40%);
    --dark-accent-text-color: #556cd5;
    /* TO REMOVE */
    --h3-contacts-title-font-size: 1.4rem;
    /* TO REMOVE */
    --h3-contacts-font-size: 1rem;
    /* TO REMOVE */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px 0 40px;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-family: var(--font-title);
    font-size: var(--h2-font-size-mobile);
    /* For mobile */
}

h3 {
    font-family: var(--font-title);
    font-size: var(--h3-font-size);
}

h4 {
    font-family: var(--font-title);
    font-size: var(--h4-font-size);
    color: var(--dark-accent-color);
}

p {
    font-family: var(--font-common);
    font-size: var(--common-font-size);
    color: var(--text-color);
}

.divider {
    display: inline-block;
    width: 60px;
    height: 4px;
}

.divider--main {
    background-color: var(--accent-color);
}

.divider--secondary {
    background-color: var(--secondary-color);
}

h2 {
    font-family: var(--font-title);
    font-size: var(--h2-font-size-mobile);
    /* For mobile */
}

h3 {
    font-family: var(--font-title);
    font-size: var(--h3-font-size);
}

@media (min-width: 768px) {
    h2 {
        font-size: var(--h2-font-size-tablet);
        /* For desctop */
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: var(--h2-font-size-desktop);
        /* For desctop */
    }
}