.footer *:not(.footer__social-media-icons-item-svg) {
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--secondary-color);
}

.footer__back-to-main-page {
    font-size: 200%;
}

.footer__back-to-main-page-view {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
}

.footer__back-to-main-page-the-color {
    color: var(--accent-color);
}

.footer__nav-column {
    display: grid;
    text-align: left;
    font-family: var(--font-common);
    font-size: 107%;
    grid-gap: 10px;
}

.footer__nav-column-item {
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font-description);
}

.footer__social-media-icons-item-svg {
    width: 26px;
    height: 26px;
    fill: var(--secondary-color);
}

.footer__social-media-icons-facebook {
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .footer__view {
        display: grid;
        grid-template-columns: 0.8fr 2fr 0.5fr;
        grid-gap: 0;
    }

    .footer__back-to-main-page-view {
        display: grid;
        text-align: left;
    }

    .footer__back-to-main-page {
        text-align: left;
    }

    .footer__nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .footer__nav-column {
        display: grid;
        text-align: left;
        font-family: var(--font-common);
        font-size: 107%;
    }

    .footer__social-media {
        text-align: right;
    }

    .footer__rights {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1040px) {
    .footer__back-to-main-page-view {
        display: inline-block;
        text-align: start;
    }
}