header {
    background-image: var(--header-gradient), url(../img/header/home.png);
    background-size: cover;
    background-position: center;
    height: 1280px;
    box-sizing: border-box;
}

.header__contacts {
    display: none;
}

.header__media {
    display: none;
}

.header__nav {
    font-family: var(--font-common);
    color: var(--secondary-color);
}

.header__name {
    font-size: 28px;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;
}

.header__menu {
    display: none;
    align-items: center;
    font-size: 15px;
    list-style-type: none;
    font-family: var(--font-common);
}

.header__menu-about {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 20px 0px 20px 0px;
}

.header__menu-about:hover {
    color: var(--accent-color);
}

.header__menu-plans {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__menu-plans:hover {
    color: var(--accent-color);
}

.header__menu-events {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__menu-events:hover {
    color: var(--accent-color);
}

.header__menu-testimonial {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__menu-testimonial:hover {
    color: var(--accent-color);
}

.header__menu-spaces {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__menu-spaces:hover {
    color: var(--accent-color);
}

.header__menu-blog {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__menu-blog:hover {
    color: var(--accent-color);
}

.header__menu-contacts {
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__menu-contacts:hover {
    color: var(--accent-color);
}

.header__face {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header__title-color {
    color: var(--accent-color);
}

.header__title {
    padding: 100px 0 0 0;
    font-family: var(--font-title);
    font-size: 60px;
    color: var(--secondary-color);

}

.header__text {
    font-family: var(--font-common);
    color: var(--secondary-color);
    font-size: 20px;
    margin: 32px 0 50px 0;
}

.header__member-button {
    border-radius: 20px;
    margin: 0 0 50px 0;
    border: none;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 16px 32px;
    width: 215px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    font-family: var(--font-title);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.header__member-button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.header__end {
    display: flex;
    flex-direction: column;
}

.header__divider {
    border-top: 5px solid var(--secondary-color);
    width: 20%;
    display: flex;
    margin-left: 110px;
    padding: 10px 0px 10px 0px;
}

.header__offices {
    width: 270px;
    height: 190px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: rgba(21, 20, 35, 0.7);
    margin: 0 0 30px 0;
}

.header__number-offices {
    font-family: var(--font-title);
    font-size: 60px;
    color: var(--accent-color);
}

.header__offices-text {
    font-family: var(--font-common);
    color: var(--secondary-color);
    font-size: 18px;
}

.header__rooms {
    width: 270px;
    height: 190px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: rgba(21, 20, 35, 0.7);
    margin: 0 0 30px 0;
}

.header__number-rooms {
    font-family: var(--font-title);
    font-size: 60px;
    color: var(--accent-color);
}

.header__rooms-text {
    font-family: var(--font-common);
    color: var(--secondary-color);
    font-size: 18px;
}

.header__descs {
    width: 270px;
    height: 190px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: rgba(21, 20, 35, 0.7);
    margin: 0 0 30px 0;
}

.header__number-descs {
    font-family: var(--font-title);
    font-size: 60px;
    color: var(--accent-color);
}

.header__descs-text {
    font-family: var(--font-common);
    color: var(--secondary-color);
    font-size: 18px;
}

@media(max-width:990px) {
    .header__nav-container {
        position: relative;
        padding-top: 20px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-burger {
        display: flex;
        align-items: center;
        width: 24px;
        height: 16px;
        position: relative;
        cursor: pointer;
        z-index: 22;
    }

    .header__burger-menu-wraper {
        padding: 12px;
    }

    .header__burger-menu-item {
        background-color: var(--secondary-color);
        position: absolute;
        height: 2px;
        width: 100%;
    }

    .header__nav-burger::before {
        background-color: var(--secondary-color);
        position: absolute;
        height: 2px;
        width: 100%;
        content: " ";
        top: 0px;
    }

    .header__nav-burger::after {
        background-color: var(--secondary-color);
        position: absolute;
        height: 2px;
        width: 100%;
        content: " ";
        top: 14px;
    }

    .header__nav-burger span,
    .header__nav-burger::after,
    .header__nav-burger::before {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--secondary-color);
        transition: all 0.5s ease-in-out;
    }

    .header__nav-burger span {
        transform: scale(1);
    }

    .header__nav-burger.active span {
        transform: scale(0);
    }

    .header__nav-burger.active::before {
        top: 7px;
        transform: rotate(-225deg);
    }

    .header__nav-burger.active::after {
        top: 7px;
        transform: rotate(225deg);
    }

    .header__nav,
    .header__menu {
        transition: top 0.3s ease-in;
        transition: top 0.3s ease-in 0.1s;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px 0 10px 0;
        overflow: hidden;
        margin: auto;
    }

    .header__nav,
    .header__menu.active {
        top: 0;
    }

    .header__menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 100px;
        height: 100vh;
        font-size: 15px;
        background-color: #1c1f29;
    }

    .header__menu>li {
        margin: 10px 5px;
    }


    body.lock {
        overflow: hidden;
    }
}

    @media(min-width: 991px) {
        header {
            height: 970px;
            box-sizing: border-box;
        }

        .header__contacts {
            display: flex;
            flex-direction: row;
            font-family: var(--font-common);
            color: var(--secondary-color);
            font-size: 12px;
            text-align: center;
        }

        .header__media {
            display: flex;
            margin-left: 395px;
            padding-top: 8px;
        }

        .header__media-facebook {
            padding-right: 5px;
        }

        .header__media-instagram {
            padding-right: 5px;
        }

        .header__address {
            display: none;
            padding-top: 8px;
        }

        .header__number {
            display: none;
            color: var(--secondary-color);
            padding-top: 8px;
            margin-left: 420px;
        }

        .header__name {
            font-size: 32px;
            text-align: center;
        }

        .header__nav {
            display: flex;
            padding-top: 25px;
        }

        .header__contacts {
            display: flex;
        }

        .header__address {
            display: flex;
        }

        .header__number {
            display: flex;
        }

        .header__media {
            display: flex;
        }

        .header__nav {
            display: flex;
        }

        .header__menu {
            display: flex;
            flex-direction: row;
            text-align: center;
        }

        .header__menu-about {
            margin-left: 280px;
            padding-right: 30px;
        }

        .header__menu-plans {
            padding-right: 30px;
        }

        .header__menu-events {
            padding-right: 30px;
        }

        .header__menu-testimonial {
            padding-right: 30px;
        }

        .header__menu-spaces {
            padding-right: 30px;
        }

        .header__menu-blog {
            padding-right: 30px;
        }

        .header__title {
            padding-top: 200px;
            font-size: 100px;
            color: var(--secondary-color);
        }

        .header__text {
            font-size: 18px;
        }

        .header__member-button {
            font-size: 13px;
        }

        .header__end {
            padding-left: 20px;
            padding-top: 15px;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .header__divider {
            margin: 0 133px 0 133px;
        }

        .header__offices {
            margin: 0px 20px 0 0px;
            width: 340px;
            height: 220px;
        }

        .header__number-offices {
            padding-top: 15px;
        }

        .header__rooms {
            margin: 0 20px 0 20px;
            width: 340px;
            height: 220px;
        }

        .header__number-rooms {
            padding-top: 15px;
        }

        .header__descs {
            margin: 0 20px 0 20px;
            width: 340px;
            height: 220px;
        }

        .header__number-descs {
            padding-top: 15px;
        }
    }