.footer__social-media-twitter {
    width: 26px;
    height: 26px;
    background-size: 0;
    fill: white;
}

.footer__social-media-facebook {
    width: 26px;
    height: 26px;
    background-size: 0;
    fill: white;

}

.footer__social-media-instagram {
    width: 26px;
    height: 26px;
    background-size: 0;
    fill: white;

}

