.partners__title {
    text-align: center;
    margin-bottom: 60px;
}

.partners__list { 
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.partners__list > div {
    padding: 30px;
    margin: 0 15px 30px;
    max-width: 400px;
    box-shadow: 0 5px 11.2px 2.8px rgb(136 140 133 / 12%);
    border-radius: 8px;
}

.partners__list img {
    width: 100%;
}

@media screen and (min-width: 480px) {
    .partners__list { 
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 768px) {
    .partners__list { 
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 992px) {
    .partners__list { 
        grid-template-columns: repeat(6, auto);
    }
}