.space__offer {
    background: linear-gradient(#07070cb1, #0e0534e0), url(../img/space_team/space_background.webp);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-width: 320px;
    min-height: 547.213px;
    padding-top: 85px;
    padding-bottom: 90px;
    padding-right: 24px;
    padding-left: 24px;
}

@media (min-width: 453px) {
    .space__offer {
        min-height: 443.413px;
    }
}

.space__title {
    color: var(--footer-text-color);
    padding-bottom: 15px;
    font-size: 34px;
    font-family: var(--font-title);
    font-weight: 600;
    letter-spacing: normal;
    line-height: 40.8px;
    text-align: center;
    vertical-align: baseline;
    overflow-wrap: break-word;
}

.space__invite {
    margin-top: 15px;
    margin-bottom: 50px;
    color: var(--footer-text-color);
    font-family: var(--font-description);
    font-size: 18px;
    font-weight: 700;
    line-height: 31.5px;
    max-width: 561.55px;
    overflow-wrap: break-word;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;

}

.space__link {
    text-decoration: none;
    color: var(--footer-text-color);
    font-family: var(--font-title);
    font-size: 13.2px;
    font-weight: 500;
    padding: 1.00rem;
}

.button__style {
    background-color: var(--divider-bg-main-color);
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    line-height: 21.12px;
    width: 224.038px;
    height: 53.1125px;
    border-radius: 10rem;
    border-width: 1px;
}