.upcoming-events {
    background-color: var(--upcomingevents-background-color);
}

.upcoming-events__inner-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.upcoming-events__inner-title-text {
    color: var(--main-color);
    text-align: center;
}

.upcoming-events__inner-title-devider.solid {
    border-top: 5px solid var(--accent-color);
    margin: 2rem auto;
    width: 60px;
}

.upcoming-events__inner-events {
    background: transparent;
    display: grid;
    gap: 30px;
}

.upcoming-events__inner-events-item {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.upcoming-events__inner-events-item-event {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upcoming-events__inner-events-item * :not(.upcoming-events__inner-events-item-event-image-item) {
    padding-bottom: 20px;
}

.upcoming-events__inner-events-item-event-image-item {
    border-radius: 10px;
}

.upcoming-events__inner-events-item-event-info-type {
    color: var(--whychooseus-color-main);
    font-family: var(--font-title);
    font-size: 90%;
}

.upcoming-events__inner-events-item-event-info-date {
    color: var(--whychooseus-color-main);
    font-family: var(--font-title);
    font-size: 90%;
}

.upcoming-events__inner-events-item-event-info-type-devider {
    color: var(--main-color);
}

.upcoming-events__inner-events-item-event-modal-window {
    padding: 1em;
    max-width: 50ch;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.upcoming-events__inner-events-item-event-modal-window-style {
    display: grid;
}

.upcoming-events__inner-events-item-event-button {
    font-family: var(--font-title);
    color: var(--secondary-color);
    background-color: var(--whychooseus-color-main);
    border: none;
    padding: 14px 0 14px 0;
    cursor: pointer;
    border-radius: 30px;
}

.upcoming-events__inner-events-item-event-button:hover {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    transition: 0.3s;
}

.upcoming-events__inner-button {
    padding: 40px 0 80px 0;
    text-align: center;
}

.upcoming-events__inner-button-item {
    font-family: var(--font-title);
    color: var(--whychooseus-color-main);
    border: 1px solid var(--whychooseus-color-main);
    background-color: transparent;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 30px;
}

.upcoming-events__inner-button-item:hover {
    color: var(--secondary-color);
    border-color: var(--whychooseus-color-main);
    background-color: var(--whychooseus-color-main);
    transition: 0.3s;
}

@media (min-width: 768px) {
    .upcoming-events__inner-events {
        background: transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .upcoming-events__inner-events-item {
        display: flex;
        width: calc(140% / 3);
    }
}

@media (min-width: 992px) {
    .upcoming-events__inner-events {
        background: transparent;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .upcoming-events__inner-events-item {
        width: 100%;
    }
}