.social-networks *:not(.social-networks-item-svg) {
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    border-color: var(--whychooseus-color-main);
}


.welcome_station {
    background: url(https://res2.weblium.site/res/5cb5ed415c879c002458deb0/5cb7301f7b0ced0023a0ee52.webp);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

.station__title {
    font-size: 34px;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 20px;
    line-height: 40.8px;
}

.station__text__about {
    font-family: var(--font-common);
    font-size: var(--common-font-size);
    color: #717888;
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28.8px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: baseline;
    margin-top: 45px;
}
.social-networks {
    margin-top: 30px;
}

.social-networks-item-svg {
    width: 26px;
    height: 26px;
    fill: var(--whychooseus-color-main);
    background-color: var(--secondary-color);
    display: flex;
}
.station_button-about {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.station_button-about form {
    display: flex;
}
.station_button-about button {
    font-family: var(--font-title);
    border: 2px solid var(--whychooseus-color-main);
    background-color: var(--secondary-color);
    color: var(--whychooseus-color-main);
    font-size: 11px;
    padding: 16px 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    margin: 50px 0 50px 0;
    transition-duration: 0.4s;
    width: 235px;
}
