.social-networks *:not(.social-networks-item-svg) {
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    border-color: var(--whychooseus-color-main); 
}
.station__photo-container {
padding-left: 24px;
padding-right: 24px;
}
.welcome_station {
    background: url(https://res2.weblium.site/res/5cb5ed415c879c002458deb0/5cb7301f7b0ced0023a0ee52.webp);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

.station__title {
    font-size: 34px;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 20px;
    line-height: 40.8px;
}

.station__text__about {
    font-family: var(--font-common);
    font-size: var(--common-font-size);
    color: #717888;
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28.8px;
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

.text-container {
    max-width: 770px;
    margin: 0 auto;
}
.social-networks {
    margin-top: 30px;
}
.social-networks a {
    margin-right: 10px;
}
.social-networks-item-svg {
    width: 20px;
    height: 20px;
    fill: var(--whychooseus-color-main);
    background-color: var(--secondary-color);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   transition: all 0.3s ease;
}
.social-networks a:hover {
    background-color:var(--whychooseus-color-main);
    border-color: var(--whychooseus-color-main);
}
.social-networks a:hover svg {
    fill: #fff;
}
.station_button-about {
    display: flex;    
    justify-content: center;
    margin-top: 30px;
}
.station_button-about form {
    display: flex;
}
.station_button-about button {
    font-family: var(--font-title);
    border: 2px solid var(--whychooseus-color-main);
    background-color: var(--secondary-color);
    color: var(--whychooseus-color-main);
    font-size: 11px;
    padding: 16px 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    margin: 50px 0 50px 0;
    transition-duration: 0.4s;
    width: 235px;
    transition: all 0.3s ease;
}
/*.station_button-about:hover {
    background-color: var(--whychooseus-color-main);
    color: #fff;
}*/
