.whychooseus__background {
    background-image: var(--whychooseus-gradient), url(../img/brownoffice.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.whychooseus__title {
    padding-top: 60px;
    padding-bottom: 60px;
}

.whychooseus__title-text {
    color: var(--secondary-color);
    text-align: center;
}

.whychooseus__title-divider.solid {
    border-top: 5px solid var(--secondary-color);
    margin: 2rem auto;
    width: 7%;
}

.whychooseus__recommended-services {
    padding: 0 40px 0 40px;
    background: transparent;
    display: grid;
    gap: 30px;
    padding-bottom: 80px;
}

.whychooseus__recommended-services-item {
    padding: 35px 0 35px 0;
    background: var(--secondary-color);
}

.whychooseus__recommended-services-item {
    cursor: pointer;
}

.whychooseus__recommended-services-item:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.whychooseus__recommended-services-item {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.whychooseus__recommended-services-item-scale {
    transform: scale(2);
}

.whychooseus__recommended-services-item-service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whychooseus__recommended-services-item-service-icon {
    padding: 20px 0 20px 0;
}

.whychooseus__recommended-services-item-service-icon-svg {
    width: 90px;
    height: 90px;
    fill: var(--whychooseus-color-main);
}

@media (min-width: 768px) {
    .whychooseus__recommended-services {
        padding: 0 40px 0 40px;
        background: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding-bottom: 80px;
    }
}

@media (min-width: 992px) {
    .whychooseus__recommended-services-item {
        background-size: auto;
    }

    .whychooseus__recommended-services {
        padding: 0 40px 0 40px;
        background: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding-bottom: 80px;
    }
}