.whychooseus__background {
    background-image: var(--whychooseus-gradient), url(../img/brownoffice.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.whychooseus__title {
    padding-top: 60px;
    padding-bottom: 60px;
}

.whychooseus__title-text {
    color: var(--secondary-color);
    text-align: center;
}

.whychooseus__title-divider.solid {
    border-top: 5px solid var(--secondary-color);
    margin: 2rem auto;
    width: 7%;
}

.whychooseus__recommended-services {
    padding: 0 40px 0 40px;
    background: transparent;
    display: grid;
    gap: 30px;
    padding-bottom: 80px;
}

.whychooseus__recommended-services-item {
    padding: 35px 0 35px 0;
    background: var(--secondary-color);
    cursor: pointer;
}

.whychooseus__recommended-services-item:hover {
    box-shadow: rgb(18, 24, 31) 0px 20px 30px -10px;
}

.whychooseus__recommended-services-item-service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whychooseus__recommended-services-item-service-icon {
    padding: 20px 0 20px 0;
}

.whychooseus__recommended-services-item-service-icon-svg {
    width: 90px;
    height: 90px;
    fill: var(--whychooseus-color-main);
}

.whychooseus__recommended-services-item-service-description {
    text-align: left;
    padding: 10px 10px;
}

.whychooseus__recommended-services-item .whychooseus__recommended-services-item-service-description {
    display: none;
}

.whychooseus__recommended-services-item.active .whychooseus__recommended-services-item-service-description {
    display: block;
}

.whychooseus__recommended-services-item.is-inactive {
    opacity: 50%;
}

.whychooseus__recommended-services-item.is-inactive:hover {
    opacity: 100%;
}

@media (min-width: 768px) {
    .whychooseus__recommended-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .whychooseus__recommended-services-item {
        grid-column: span 1;
    }

    .whychooseus__recommended-services-item-service-description {
        text-align: left;
    }

    .whychooseus__recommended-services-item .whychooseus__recommended-services-item-service-description {
        display: none;
    }

    .whychooseus__recommended-services-item.active .whychooseus__recommended-services-item-service-description {
        display: block;
    }

    .whychooseus__recommended-services-item.active {
        grid-column: 1 / span 2;
        grid-row: 1;
        order: 0;
        height: auto;
    }

    .whychooseus__recommended-services-item.is-inactive {
        grid-column: span 1;
        opacity: 50%;
    }

    .whychooseus__recommended-services-item.is-inactive:hover {
        opacity: 100%;
    }
}

@media (min-width: 992px) {
    .whychooseus__recommended-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .whychooseus__recommended-services-item {
        background-size: auto;
        grid-column: span 1;
    }

    .whychooseus__recommended-services-item-service-description {
        text-align: left;
    }

    .whychooseus__recommended-services-item .whychooseus__recommended-services-item-service-description {
        display: none;
    }

    .whychooseus__recommended-services-item.active .whychooseus__recommended-services-item-service-description {
        display: block;
    }

    .whychooseus__recommended-services-item.active {
        grid-column: 1 / span 3;
        grid-row: 1;
        order: 0;
        height: auto;
    }

    .whychooseus__recommended-services-item.is-inactive {
        grid-column: span 1;
        opacity: 50%;
    }

    .whychooseus__recommended-services-item.is-inactive:hover {
        opacity: 100%;
    }
}